.bio {
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.bio-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fbfbfb;

}