.burger-menu{
    display: none;
}
input[type="checkbox"] {
    position: fixed;
    display: block;
    height: 45px;
    width: 45px;
    top: 30px;
    right: 30px;
    z-index: 5;
    opacity: 0;
    background: #fbfbfb;
}
.hamburger-lines {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: rgb(155, 106, 64);
}
.hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}
.hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}
.burger-menu input[type="checkbox"]:checked ~ .open {
    transform: translateX(-50vw);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
}

.close{
    display: flex;
    flex-direction: column;
    width: 50vw;
    right: -50vw;
    height: 100vh;
    padding-top: 100px;
    background: #fbfbfb;
    transform: translate(50vw);
    transition: transform 0.5s ease-in-out;
    opacity: 0.9;
    position: fixed;
}
.open {
    display: flex;
    flex-direction: column;
    width: 50vw;
    right: -50vw;
    height: 100vh;
    padding-top: 100px;
    background: #fbfbfb;
    transform: translate(50vw);
    transition: transform 0.5s ease-in-out;
    opacity: 0.9;
    position: fixed;
}
.open a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    font-size: 1.5em;
    height: 50px;
    border-bottom: 3px dashed rgb(125, 117, 107);
}
.open a[class='disable']{
    color: black;
}
.close a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    font-size: 1.5em;
    height: 50px;
    border-bottom: 3px dashed rgb(125, 117, 107);
}
.close a[class='disable']{
    color: black;
}
.show-off{
    display: none;
}
.show-on {
    display: block;
}
@media (max-device-width: 960px) or (max-width: 960px) {
    .burger-menu {
        display: block;
    }
}
