.team-wrapper {
    display: flex;
    justify-content: center;
    background-color: #fbfbfb;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    height: 300px;
}
.team{

}
.our-team {
    display: flex;
    width: 80vw;

}
.our-team-text-wrapper{
    width: 40vw;
}
.our-team-text{
    width: 35vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.our-team-text h1{
    font-size: 2em;
}
