.team-wrapper {
    display: flex;
    justify-content: center;
    background-color: #fbfbfb;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    height: 300px;
}
.team{

}
.our-team {
    display: flex;
    width: 80vw;

}
.our-team-text-wrapper{
    width: 40vw;
}
.our-team-text{
    width: 35vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.our-team-text h1{
    font-size: 2em;
}
@media (max-device-width: 960px) or (max-width: 960px) {
    .our-team {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        height: 600px;
    }
    .team{
        height: 650px;
    }
    .our-team-text{
        font-size: 1.1em;
        width: 80vw;
    }
    .our-team-text h1{
        font-size: 1.7em;
    }
    .our-team-text-wrapper{
        width: 80vw;
    }
    .team-wrapper{
        height: 700px;
    }
}
