.team-wrapper {
    display: flex;
    justify-content: center;
    background-color: #fbfbfb;
    align-items: center;
    width: 100vw;
    flex-direction: column;
}
.team-wrapper{
    margin-top: 70px;
    margin-bottom: 70px;
}
.our-team {
    display: flex;
    width: 80vw;

}
.our-team-text-wrapper{
    width: 40vw;
}
.our-team-text{
    width: 35vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;
}

.our-team-text h1{
    font-size: 2em;
    margin-bottom: 30px;
}
@media (max-device-width: 960px) or (max-width: 960px) {
    .our-team {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .our-team-text{
        font-size: 1.3em;
        width: 80vw;
    }
    .our-team-text h1{
        font-size: 1.7em;
    }
    .our-team-text-wrapper{
        width: 80vw;
    }
}
