
.second-logo img {
    width: 35%;
}
.second-logo {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 360px;
}
.text-under-second-logo {
    font-size: 3em;
    color: #f0f8ff;
    width: 50%;
}
.buttons {
    justify-content: flex-end;
    display: flex;
    color: #f0f8ff;
    width: 35%;
}
@media (max-device-width: 960px) or (max-width: 960px){
    .text-under-second-logo{
        width: 70vw;
    }
    .second-logo img {
        width: 45%;
    }
    .buttons{
        font-size: 1.3em;
        width: 50%;
    }
}
