
.second-logo img {
    width: 45%;
}
.second-logo {
    width: 80vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 5vh;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.text-under-second-logo {
    font-size: 2em;
    color: #f0f8ff;
    width: 80%;
}
.big-text {
    font-size: 2em;
    margin-bottom: 50px;
}
@media (max-device-width: 960px) or (max-width: 960px){
    .text-under-second-logo {
        font-size: 2em;
        width: 80vw;
        margin-bottom: 40px;
    }
    .second-logo img {
        width: 75%;
    }

    .second-logo {
        width: 80vw;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
}
