.content-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    background: rgb(231,231,231);
}
.content {
    width: 80vw;
    background-color: white;
}
h1 {
    font-size: 2.3em;
    margin-bottom: 20px;
    margin-top: 20px;
}
.head-of-content {
    margin-left: 50px;
}


