.about {
    background-color: #ffff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-team{
    background-color: #fbfbfb;
}
.text p{
    margin-bottom: 15px;
}
.about-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;}

.picture-and-text {
    width: 80vw;
    display: flex;
}
.picture-and-text-container {
    margin-top: 55px;
    margin-bottom: 55px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80vw;
}
.text-right-of-picture h1 {
    font-size: 2.7em;
}
.picture{
    width: 40vw;
    margin-top: 50px;
}
.picture img{
    width: 550px;
    overflow: auto;
}
.text-right-of-picture {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.card img {
    width: 88px;
    border-radius: 45px 45px 45px 45px;
}
.card {
    display: flex;
    height: 250px;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f6;
    width: 40vw;

}

.card-container {
    width: 35vw;
}

.image-name-container {
    display: flex;
    width: 260px;
    justify-content: space-between;
}
.name {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card-container-text {
    width: 35vw;
}
@media (max-device-width: 960px) or (max-width: 960px) {
    .picture-and-text {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .picture img {
        width: 80vw;
    }
    .about-container{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }
    .text-right-of-picture {
        width: 80vw;
        margin-top: 50px;
    }
    .text {
        font-size: 1.3em;
    }
    .card {
        width: 80vw;
        height: 400px;
    }
    .card-container{
        width: 70vw;
    }
    .image-name-container img {
        width: 200px;
    }
    .image-name-container {
        width: 550px;
    }
    .card-container-text {
        width: 65vw;
        font-size: 1.1em;
        margin-top: 20px;
    }
    .name h2{
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    .name {
        font-size: 1.3em;
        margin-left: 20px;
        margin-top: 30px;
    }
    .text-right-of-picture h1{
        font-size: 2.2em;
    }
    .picture{
        width: 80vw;
        display: flex;
        justify-content: center;
    }
}
@media (min-device-width: 961px) and (max-device-width: 1500px) {
    .picture img {
        width: 450px;
    }
    .upper-text h1 {
        font-size: 2em;
    }

}
@media (min-width: 961px) and (max-width: 1500px) {
    .picture img {
        width: 650px;
    }
    .upper-text h1 {
        font-size: 2em;
    }
    .text-right-of-picture{
        font-size: 1.4em;
    }
    .about-team{
        font-size: 1.3em;
    }
    .name{
        width: 350px;
    }
}
@media (min-device-width: 1200px) or (min-width: 1200px) {
    .picture img {
        width: 550px;
    }
}