.about {
    background-color: #ffff;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 850px;
}

.picture-and-text {
    width: 80vw;
    display: flex;
    height: 750px;

}
.picture-and-text-container {
    height: 825px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 80vw;
}
.text-right-of-picture h1 {
    font-size: 2.7em;
}
.picture{
    width: 40vw;
}
.picture img{
    width: 550px;
    overflow: auto;
}
.text-right-of-picture {
    width: 40vw;
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: space-between;
    overflow: auto;
}
.card img {
    width: 88px;
    border-radius: 45px 45px 45px 45px;
}
.card {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f6;
    width: 40vw;

}

.card-container {
    width: 35vw;
}

.image-name-container {
    display: flex;
    width: 260px;
    justify-content: space-between;
}
.name {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card-container-text {
    width: 35vw;
}
@media (max-width: 960px) {
    .picture-and-text {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 1100px;
    }
    .picture img {
        width: 80vw;
    }
    .about-container{
        height: 1100px;
    }
    .picture-and-text-container{
        height: 1200px;
    }
    .text-right-of-picture {
        width: 80vw;
        height: 900px;
    }
    .card {
        width: 80vw;
        height: 400px;
    }
    .card-container{
        width: 70vw;
    }
    .image-name-container img {
        width: 200px;
    }

}
@media (min-width: 961px) and (max-width: 1500px) {
    .text-right-of-picture {
        height: 600px;
    }
    .picture-and-text-container {
        height: 900px;
    }
    .picture img {
        width: 400px;
    }
    .upper-text h1 {
        font-size: 2em;
    }
}
@media (min-width: 1200px) {
    .picture img {
        width: 550px;
    }
}