.header {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header-navbar {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    background-color: #fbfbfb;
    /*position: sticky;*/
    top: 0;
    z-index: 1;
    height: 2em;

}
.header-navbar img {
    width: 50px;
}

.header-wrapper{
    height: 100vh;
    background-image: url("./1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

@media (max-width: 900px) or (max-device-width: 900px){
    .header-wrapper{
        height: 130vh;
    }
    .header{
        height: 130vh;
    }
    .header-navbar{
        display: none;
    }
}