.biography {
    display: flex;
    width: 75vw;
    flex-wrap: nowrap;
    margin-top: 50px;
}

.other-bio {
    position: relative;
}

.position-left {
    flex-direction: row;
    justify-content: flex-start;

}

.position-right {
    flex-direction: row-reverse;

}

.bio-photo {
    width: 20vw;
}

.other-left {

}

.other-right {
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.element-animation-left, .element-animation-right {
    opacity: 0;
}

.element-animation-left {
    transform: translateX(-20vw);
}

.element-animation-right {
    transform: translateX(20vw);
}

.element-show-left, .element-show-right {
    opacity: 1;
    transition: all 1.5s;
    transform: translateX(0);
}

@keyframes text-to-left {
    from {
        opacity: 0;
        transform: translateX(-10vw);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}