.biography {
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: center;
    margin-bottom: 30px;
}
.biography p {
    text-align: center;
    width: 22vw;
}
.bio-img {
    width: 22vw;
    z-index: 2;
}
.bio-img:hover {
    text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}
.focus {
    transition: filter 1s 0.3s;
    filter: blur(3px);
}
.not-focus {
    transition: filter 0.5s 0.2s;
    filter: blur(0px);
}
.ava-and-text {
    position: relative;
    display: flex;
    align-items: center;
}
.text {
    position: absolute;
    top: 10%;
    width: 20vw;
    left: 1vw;
    font-size: 1.3em;

}
.hide-text {
    transition: opacity 0.5s 0.2s, z-index 0s 0.7s;
    opacity: 0;
    z-index: 1;
}
.show-text {
    transition: opacity 1s 0.3s;
    z-index: 3;
    opacity: 1;
}
.exit-button {
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 33%;
    font-size: 1.5em;
    background-color: white;
}
.hide-btn {
    transition: opacity 0.5s 0.2s, z-index 0s 0.7s;
    opacity: 0;

}
.show-btn {
    transition: opacity 1s 0.3s;
    z-index: 3;
    opacity: 1;
}