.service {
    display: flex;
    flex-direction: column;
    width: 23vw;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    justify-content: space-between;
    margin-bottom: 10px;
}
.service-photo-and-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.service-photo img{
    width: 15vw;
}
.service-text {
    margin-top: 10px;
    margin-bottom: 20px;
}
.service-price {
    margin-top: 20px;
}
.service-button {
    text-align: center;
    padding: 10px;
    color: #ffffff;
    background: rgb(155, 106, 64);
    text-decoration: none;
}
.service-button:hover{
    transition: 0.5s;
    transition-delay: 0.1s;
    scale: 1.1;
}